body {
  font-family: "Anonymous Pro", monospace;

  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 500px;
  height: auto;
}

button {
  font-weight: bold;
}

.copyright {
  position: fixed;
  bottom: 0px;
  right: 10px;
  font-size: 25px;
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-top: 100px;
  padding-bottom: 100px;
}

.login-btn {
  padding: 10px;
  background-color: white;
  color: black;
  border: solid black;
  border-width: 3px;
  width: 300px;
  height: 100px;
  font-size: 40px;
  border-radius: 50px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

.sidebarel {
  width: 200px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #d9d9d9;

  position: fixed;
  height: 100%;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  transition: 0.2s;
}

.icon {
  height: 80px;
  width: 80px;
}

.icon:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  height: 120px;
  width: 120px;
}

.active {
  opacity: 1;
}
.main-header {
  display: grid;
  grid-template-columns: auto 100px;
}

.main-body {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 20px;
  gap: 35px;

  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  height: 250px;
  width: 450px;
  border-radius: 33px;
  border: solid;
}

.box:hover {
  cursor: pointer;
}

.box-order-status {
  width: 40px;
  height: 250px;

  border-right: solid;

  border-radius: 30px 0px 0px 30px;
}

.paid-background {
  background-color: rgb(255, 255, 255);
}

.unpaid-background {
  background-color: rgb(0, 0, 0);
}

.box-order-data {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 0 30px 30px 0;
}
.main-body-data h2 {
  padding-left: 55px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.534);
  backdrop-filter: blur(1px);
  z-index: 100;
  transition: all 0.5s;
}

.add-btn-img {
  width: 60px;
}
.add-btn-img:hover {
  cursor: pointer;
  width: 80px;
  transition-duration: 0.4s;
}

.page-header {
  text-align: center;
  font-size: 60px;
}

.add-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */

.form {
  border: solid black;
  position: fixed;
  border-width: 4px;
  display: grid;
  grid-template-rows: 150px 550px;
  width: 70%;
  height: 700px;
  top: 15%;
  left: 15%;
  border-radius: 50px;
  background-color: rgb(121, 121, 121);
}

.form-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.modal-form-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.modal-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form {
  height: 550px;
  display: grid;
  grid-template-rows: 430px 120px;
}
.modal-form-body-header {
  font-size: 40px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
  /* background-color: bisque; */
  gap: 100px;
}
.form-group {
  font-size: 40px;
  font-weight: 350;
}

.form-btn {
  width: 400px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  font-size: 30px;
  border-width: 0px;
}

.form-btn:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: black;
  color: white;
}

input {
  /* width: 200px; */
  border: 1px solid red;
  height: 30px;
  width: 400px;
  border-radius: 4px;
  font-size: 30px;
}

select {
  border: 1px solid red;
  height: 30px;
  width: 400px;
  border-radius: 4px;
  font-size: 30px;
}

textarea {
  border: 1px solid red;
  height: 80px;
  width: 400px;
  border-radius: 4px;
  font-size: 30px;
}

input[type="radio"] {
  /* your styles */
  width: 40px;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-body-invoice {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 100px;
  height: 400px;
}

.ivoice-item {
  border: solid black;
  font-size: 40px;
  border-radius: 20px;
  padding: 25px;
  background-color: #d9d9d9;
}

.hidden {
  display: none;
}

/* for print A4 form*/

#a4-page {
  width: 210mm;
  padding: 20mm;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

@media print {
  /* body {
    margin: 0;
  } */

  #a4-page {
    box-shadow: none;
    margin: 0;
  }
}

/* Style thêm */
.a4FormHeader {
  text-align: center;
}

.a4FormDate {
  margin-top: 40px;
}
